.recent{
    margin-top: 150px;
    text-align: center;
    border-bottom: .5px solid hsl(201, 11%, 85%);
    position: relative;
    padding-bottom: 100px;

    .recent-1{

        &-header{
            font-size: 24px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
    
        &-subtext {
            text-align: center;
            margin: 10px;
            padding: 5px;
            font-size: 18px;
            color: hsl(201, 11%, 55%);
            margin-bottom: 50px;

            @media screen and (max-width: 760px){
                font-size: 18px;
                margin-bottom: 45px;
            }

            @media screen and (max-width: 550px){
                font-size: 17px;
                margin: 5px 10px;
                margin-bottom: 40px;
            }

            @media screen and (max-width: 400px){
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
    
        &-subtext a{
            text-decoration: none;
            color: #FCD770;
            transition: 1s ease-in-out;

            &:hover{
                color: #69D6F4;
                font-weight: bold;
            }
    
            @media screen and (max-width: 760px){
                color: #69D6F4;

                &:hover{
                    color: #FCD770;
                }
            }
        }
    }

    .recent-2-wrapper{
        width: 95%;
        margin: 0 auto;

        .portfolio-items-wrapper {
            display: grid;
            grid-gap: 40px 20px;
            grid-template-columns: 1fr 1fr 1fr;

            @media screen and (max-width: 1023px){
                grid-template-columns: 1fr 1fr;
            }
        
            @media screen and (max-width: 765px){
                grid-template-columns: 1fr
            }
            @media screen and (max-width: 415px){
                grid-gap: 20px 20px;
            }
            
            .portfolio-item-wrapper {
                position: relative;
                transition: transform 0.5s;
        
                .portfolio-img-background{
                    height: 250px;
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                    border-radius: 20px;
                    -webkit-box-shadow: 0 8px 6px -6px black;
                    -moz-box-shadow: 0 8px 6px -6px black;
                         box-shadow: 0 8px 6px -6px black;

                    @media screen and (max-width: 765px){
                        height: 400px;
                    }

                    @media screen and (max-width: 650px){
                        height: 300px;
                    }

                    @media screen and (max-width: 500px){
                        height: 270px;
                    }

                    @media screen and (max-width: 450px){
                        height: 240px;
                    }

                    @media screen and (max-width: 400px){
                        height: 200px;
                    }

                    @media screen and (max-width: 320px){
                        height: 170px;
                    }

                    @media screen and (max-width: 280px){
                        height: 130px;
                    }
                    
                }
            }
                
        }
    }
    
     .portfolio-item-wrapper:hover{
         transform: translateY(-10px);
    }
    
    .recent-3{
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        top: 30px;

        &-btn{
            padding: 20px 10px;
            
            a{
                background: #FFEAA7;
                padding: 10px 40px;
                border-radius: 25px;
                color: hsl(201, 11%, 15%);
                font-weight: bold;
                text-decoration: none;
                transition: .5s ease-in-out;

                @media screen and (max-width: 500px){
                    padding: 10px 25px;
                }

                &:hover{
                    background: #69D6F4;
                    color: hsl(201, 11%, 5%);
                    font-weight: bolder;
                }
            }
        }
    }
}

.grid-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}



