@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

main{
	font-family: pacifico;
	text-align: center;
}
main .sm{
	padding: 10px;
	margin: 5px 20px;
}
main .sm h3{
	margin: 5px 120px;
	color: #dedede;
	font-size: 180%;
	border-radius: 10px;
}
main .sm #fb, #ig, #yt{
	font-size: 50px;
}
main .sm:hover #fb{
	color: #3b5998;
	transition: 2s;
}
main .sm:hover #ig{
	color: teal;
	transition: 2s;
}
main .sm:hover #yt{
	color: #c4302b;
	transition: 2s;
}
main .sm:hover h3{
	color: orange;
	background: black;
	transition: 2s;
}
main .sm:hover p{
	transition: 2s;
	color: white;
}
.front-view{
	margin: 5px 100px;
}
.front-view .text h2{
	color: #04232b;
	font-size: 20px;
	background: rgba(0,0,0,.7);
	font-family: comic sans ms;
	border-radius: 10px;
	margin-bottom: 2px;
}
.front-view .text p{
	background: rgba(0,0,0,.4);
	font-weight: lighter;
}
.front-view .text p u{
	color: #89216b;
	font-size: 17px;
}
.front-view .text p:hover{
	background: rgba(0,0,0);
	color: white;
	transition: .5s;
}
.text p{
	font-family: pacifico;
	padding: 5px;
	background: #f5f5f5;
	font-weight: lighter;
	font-size: 15px;
	text-align: center;
	border: 20px solid #D2691E;
	border-radius: 20px;
}
